body {
	width: 1000px;
	font-family: arial;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
}
#header {
	height: 50px;
	margin-top: -15px;
	margin-bottom: 10px;
	border-radius: 0 0 5px 5px;
	background-color: orange;
	color: white;
	
}

#header a {
	text-decoration: none;
	color: white;
}

#header_items {
	font-size: 14pt;
}

#header_items li {
    display: block;
	list-style: none;
	float: left;
    width: 150px;
	background-color: orange;
	text-align: center;
	line-height: 43px;
}

#header_items li:hover {
	position: relative;
	box-shadow: -15px 0 15px -15px, 15px 0 15px -15px;
}

#header_items ul {
	position: relative;
	Z-index: 1000;
	margin-left: -40px;
	display: none;
}

#header_items ul li:hover {
	position: relative;
	box-shadow: 0 -15px 15px -15px, 0 15px 15px -15px;
}

#header_items li a {
	display: block;
	margin: 3px;
}

#login {
	line-height: 43px;
	float: right;
	margin-right: 15px;
}

#login a:hover {
	text-decoration: underline;
}

#center {
	position: absolute;
	width: 700px;
	margin-left: -350px;
	left: 50%;
}

.name_free {
	background-color:#83cd76;
}

.message {
	display: inline-block;
	position: relative;
	border-radius: 3px;
	padding: 5px;
	font-size: 8pt;
	margin-left: 5px;
	background-color: #ff4a4a;
}


.message::before {
	display: inline;
	position: absolute;
	vertical-align: middle;
	content: "";
	left: -11px;
	border: 5px solid transparent;
	border-right: 7px solid #ff4a4a;
}

.green {
	background-color: #0ed349;
}

#profile {
	padding: 5px;
	margin: 5px;
}

.bordered_table {
    border: 1px solid black;
    border-collapse: collapse;
}

.bordered_table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.first_row {
    background-color: #d89627;
    color: white;
}

#progressbox {
	border: 1px solid #CAF2FF;
	padding: 1px; 
	position:relative;
	width:400px;
	border-radius: 3px;
	margin: 10px;
	display:none;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #CAF2FF;
	width:1%;
}

#statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #FFFFFF;
}

/*Avatar*/
#avatar-wrapper {
    position: relative;
    width: 200px;
}

#avatar {
    position: relative;
    z-index: 0;
}

#changeAvatar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 3px;
}

#changeAvatar a {
    text-decoration: none;
    color: white;
}

#back-btn {
    position: absolute;
    float: left;
    background-color: orange;
    width: 50px;
    line-height: 30px;
    padding: 2px;
    text-align: center;
    margin-left: 15px;
}

#back-btn a {
    color: white;
    text-decoration: none;
}

#back-btn::before {
    position: absolute;
	vertical-align: middle;
	content: "";
	right: 50px;
	border: 15px solid transparent;
	border-right: 15px solid orange;
}

#back-btn:hover {
    box-shadow: 2px 2px 2px gray;
}

/*Messages*/
.msg {
    display: inline-block;
    text-align: justify;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    overflow-wrap: break-word;
    background-color: #FFC89A;
}


.msg:hover {
    box-shadow: 2px 2px 5px gray;
}

.msg a {
    color: black;
    text-decoration: none;
}

.msg a:hover {
    text-decoration: underline;
}

.user-avatar {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 2px 2px 5px gray;
}


.msg-header {
    width: 400px;
    display: inline-block;
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
}

//Reply
.reply-link {

}

.reply-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.reply-text {
    position: relative;
    border-radius: 5px;
    margin-left: 30px;
    font-family: sans-serif;
}



